$yellow: yellow;
$red: red;
$white: white;
body {
  background: $yellow;
}

a {
  background: $yellow;
}

h1 {
  background: $red;
  color: $white;
}

h2 {
  background: $yellow;
}

h3 {
  background: $yellow;
}

h4 {
  background: $yellow;
}
